
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Babylonica&family=Kaushan+Script&display=swap');

body{
    background-color: black;
    color: aliceblue;
}

p{
    font-weight: 100;
    font-style: normal;
    font-family: "Kaushan Script";
    text-align: left;
}

h1 {
    font-family: "Alex Brush", cursive;
    font-weight: 100;
    color: #f3d302;
    text-align: center;
}

h2 {
    font-family: "Babylonica", cursive;
}

h3 {
    font-family: "Kaushan Script";
}

body {
    display: flex;
    background-image: url(Scroll_Image3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: top;
    background-size: 90%;
    margin: 15%;
    min-height: 100vh;
    justify-content: center;
}