
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Babylonica&family=Kaushan+Script&display=swap');

body{
    display: flex;
    background-color: black;
    color: black;
}

p{
    display: flex;
    font-weight: 100;
    font-style: normal;
    font-family: "Kaushan Script";
    text-align: left;
    margin-left: 12%;
    margin-right: 12%;
}

h1 {
    display: flex;
    font-family: "Alex Brush", cursive;
    font-weight: 100;
    color: #f3d302;
    align-self: flex-start;
    justify-content: center;
}

h2 {
    font-family: "Babylonica", cursive;
    margin-left: 12%;
    margin-right: 12%;
}

h3 {
    font-family: "Kaushan Script";
    margin-left: 12%;
    margin-right: 12%;
}

.page-wrapper {
    display: flex;
    background-image: url(Scroll_Image3.jpg);
    background-repeat: repeat-y;
    background-position: center;
    background-position-x: center;
    background-position-y: top;
    background-size: 90%;
    margin-top: 150px;
    margin-bottom: 150px;
    min-height: 100vh;
    flex-flow: wrap;
}

.extra1 {
    background-image: url(Scroll_End_Image.png);

}

.extra2 {
    display: flex;
    background-image: url(Scroll_Start_Image.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    background-position-y: 110px;
    position: relative;
    z-index: 100;
}