
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Babylonica&family=Kaushan+Script&display=swap');

body{
    background-color: black;
    color: aliceblue;
}
p{
    font-weight: 100;
    font-style: normal;
    font-family: "Kaushan Script";

}

h1 {
    font-family: "Alex Brush", cursive;
    font-weight: 100;
    color: #f3d302;
    align-content: center;
}

h2 {
    font-family: "Babylonica", cursive;
}

h3 {
    font-family: "Kaushan Script";
}
